/* header */
header {
    background-color: white;
    box-shadow: 0 0 5px lightgray;
    margin: 0 -150px; /* negative value of the body margin */
    padding: 15px 0;
}
h1 {
    color: black;
    display: inline-block;
    margin: 0 0 0 25px;
}
.title {
    text-decoration: none;
    color: black;
}
nav {
    display: inline-block;
    float: right;
}
.navigation-list {
    list-style: none;
    margin: 0 35px 0 0;
}
.navigation-list li {
    display: inline;
}
.navigation-list li a {
    color: black;
    font-size: 25px;
    padding-right: 5px;
    text-decoration: none;
}
.navigation-list li a:active {

}
.navigation-list li a:hover {
    color: #b93a01;
    font-weight: bold;
}
/* body */
body {
    font-family: Helvetica, sans-serif;
    margin: 0 150px;
    padding: 0;
}
h2 {
    font-size: 40px;
    border-bottom: 2px solid #b93a01;
}
.last-paragraph {
    margin-bottom: 200px;
}
section {
    margin: 35px 150px 100px 150px;
    font-size: 20px;
}
.parent-section {
    margin: 0 0;
}
.Section-Header {
    border-bottom: 5px solid #152a85;
    font-size: 35px;
}
.Main-Section-Header {
    border-bottom: 3.5px solid #4bd2d8;
    font-size: 36px;
    margin: 36px 50px;
}
blockquote {
    font-style: italic;
}
.flow-right {
    float: right;
    margin: 0 0 10px 10px;
}
.flow-left {
    float: left;
    margin: 0 15px 10px 0;
}
