/* header */
header {
    background-color: white;
    box-shadow: 0 0 5px lightgray;
    margin: 0 -9.6%; /* negative value of the body margin */
    padding: 0.94% 0;
}
h1 {
    color: black;
    display: inline-block;
    margin: 0 0 0 1.57%;
}
/*---start--- styling for the DeathLoop logo in the top left corner */
.h1-no-margin {
    letter-spacing: -4px;
    margin: 0 4px 0 0;
}
.h1-turn-white {
    letter-spacing: 0px;
}
.title {
    text-decoration: none;
    color: black;
}
a:hover .h1-no-margin {
    color: #b93a01;
}
a:hover .h1-turn-white {
    color: white;
}
/*---end--- styling for the DeathLoop logo in the top left corner */
nav {
    float: right; /* used to float the navigation to the right side of the screen */
}
.navigation-list {
    list-style: none;
    margin: 0 35px 0 0;
}
.navigation-list li {
    display: inline; /* used to place nav links in a row layout */
}
.navigation-list li a {
    color: black;
    font-size: 25px;
    padding-right: 5px;
    text-decoration: none;
}
a {
    color: #152a85;
}
a:hover { /* styling the links when the mouse hovers over them */
    color: #b93a01;
    font-weight: bold;
    cursor: url("assets/cursor.png"), default;
}
.navigation-list li a:hover {
    color: #b93a01;
}
/* body */
body {
    font-family: Helvetica, sans-serif;
    margin: 0 8%;
    padding: 0;
}
p {
    line-height: 32px;
}
h2 {
    font-size: 40px;
    border-bottom: 2px solid #b93a01;
}
.last-paragraph {
    margin-bottom: 200px;
}
section {
    margin: 1.1% 8%;
    font-size: 20px;
    overflow: hidden; /* used to give a block formatting context to the sections so they wrap around floated img/video */
}
.parent-section {
    margin: 0 0;
}
.last-section {
    margin-bottom: 3.15%;
}
.Section-Header {
    border-bottom: 5px solid #152a85;
    font-size: 35px;
}
.Main-Section-Header {
    border-bottom: 3px solid #4bd2d8;
    font-size: 36px;
    margin: 2.26% 3.15%;
}
blockquote {
    font-style: italic;
}
video {
    width: 46.2%;
    min-width: 345px;
}
img {
    width: 46.2%;
    min-width: 345px;
}
.flow-right {
    float: right;
    margin: 0 0 0.65% 0.65%;
    width: 46.2%;
    min-width: 345px;
}
.flow-left {
    float: left;
    margin: 0 0.94% 0.65% 0;
    width: 46.2%;
    min-width: 345px;
}
abbr {
    text-decoration-style: dashed;
    text-decoration-color: #4bd2d8;
}
abbr:hover {
    font-style: italic;
    cursor: url("assets/cursor.png"), default;
}
video:hover {
    cursor: pointer;
}
footer {
    border-top: lightgray solid 1px;
    color: grey;
    display: flex;
    margin: 3.15% 0;
}
footer p {
    margin: auto;
}
